<html>
<head>
    <title>TimeTracker - Input Page</title>
    <link rel="stylesheet" href="generic_style.css"></link>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header_content_wrapper">
            <div class="header_word_wrapper">
                <h1>TimeTracker</h1>
            </div>
            <div class="header_links_wrapper">
                <a><button class="button_generic" id="homepage_button" onclick="getHomePage()">Home Page</button></a>
                <a href="login.html"><button id="signout_button" class="button_generic" onclick="logout()">Log Out</button></a> 
            </div>
        </div>
    </div>
    <div class="body">
        <div class="form">
            <div class="form_header">
                <h2 class="form_header">Form</h2>
            </div>
            <div class="form_container">
                <table class="form_body">
                    <tr>
                        <th>Name</th>
                        <td><input type="text" class="name_input" name="Name"></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td><input type="text" class="id_input" name="ID"></td>
                    </tr>
                    <tr>
                        <th>Group</th>
                        <td><input type="text" class="group_input" name="Group"></td>
                    </tr>
                </table>
            </div>
            <div class="form_submit_action_container">
                <button class="form_submit_button">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>